* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Balsamiq Sans';
}

.superContainer {
    background: black;
    height: 40px;
    
}

.header1 {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1000px;
    margin:auto
}

.header1 .btn {
    background-color: cyan;
    color: white;
    margin: 5px;
    padding: 5px;
    text-align: center;
}

.header1 .explorer a {
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 10px;
}

.header1 > a {
    width: 90%;
    max-width: 1000px;
    margin:auto
}

.container {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    display:flex;
}

.container1 {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 20px;
}

.card {
    width: 500px;
    border-radius: 10px;
    box-shadow: 4px 4px 4px grey;
    margin-bottom: 20px;

}

.header2 {
    background-color: rgb(4, 160, 160);
    height: 70px;
}

.header2 > img {
    width: 80px;
    position: relative;
    top:30px;
    left:20px;
    border-radius: 50%;
    padding: 2px;
    background-color: white;
}

.identityCard {
    margin-top: 55px;
    padding-left: 20px;
    padding-bottom: 20px;
}

.iconUbica {
    width: 10px;
    padding: 5px;
}

.iconoConfig {
    width: 15px;
    padding: 5px;
}

.city, .editPro {
    vertical-align: 7px;
}

.skillSet {
    margin-bottom: 5px;
} 

.university {
    margin-top: 0;
}

.edu {
    width: 500px;

    border-radius: 10px;
    background-color: #fff;
    box-shadow: 4px 4px 4px grey;
}

.edu .shadowGrey {
    color: white;
    background-color: rgb(37, 35, 35);
    padding: 10px;
    font-weight: 900;
    display: flex;
    justify-content: space-between;
}

.edu > p {
    padding-left: 23px;
    padding-top: 10px;
    padding-bottom: 5px;
} 

.fontBold1 {
    font-size: 20px;
}

.fontGrey {
    color: grey;
    font-size: 15px;

}

.container2 {
    display: flex;
    flex-direction: column;
    flex: 0 0 300px;
    padding: 20px;
    justify-content:flex-start;

}

.connection {
    width: 280px;
    height: 200px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 4px 4px 4px grey;
    margin-bottom: 20px;
}

.user1 > span {
    vertical-align: 15px;
}

.user2 > span {
    vertical-align: 15px;
}

.connection .conRe {
    color: white;
    background-color: rgb(37, 35, 35);
    padding: 10px;
    font-weight: 900;
    display: flex;
    justify-content: space-between;
    
}

.yourConnect {
    width: 280px;
    height: 350px;

    border-radius: 10px;
    background-color: #fff;
    box-shadow: 4px 4px 4px grey;
}

.yourConnect .youConne {
    color: white;
    background-color: rgb(37, 35, 35);
    padding: 10px;
    font-weight: 900;
    display: flex;
    justify-content: space-between;
}

.yourConnect span {
    vertical-align: 15px;
    padding-left: 25px;
}

.photo {
    width: 50px;
    position: relative;
    top:10px;
    left:20px;
    border: 2px solid rgb(160, 160, 160);
    border-radius: 50%;
    padding: 2px;
    margin-right: 20px
    
}

.aClose {
    width: 50px;
    position: relative;
    top:10px;
    left:10px;
    padding: 2px;
    float: right;
    margin-right: 15px;
}
.viewMo {
    display: block;
    padding: 10px 25px;
    border: grey solid;
    border-style: solid hidden hidden hidden;
    height: 5px;
    margin-top: 10px;
}






